<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--Taipei MIS Testing-->
    <add name="Debug_DashboardDataAccessLayer" connectionString="Data Source=testing\esp;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="Debug_ProductionDataAccessLayer" connectionString="Data Source=testing\esp;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="Debug_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=testing\esp;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="Debug_PMSSewingAPIurl" connectionString="http://172.17.3.97:16888/" />

    <!--PH1_Formal-->
    <add name="PH1_DashboardDataAccessLayer" connectionString="Data Source=PHL-NEWPMS-02.sportscity.local;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_ProductionDataAccessLayer" connectionString="Data Source=PHL-NEWPMS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=PHL-NEWPMS-02.sportscity.local;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_PMSSewingAPIurl" connectionString="http://172.28.48.10:16888/" />

    <!--PH2_Formal-->
    <add name="PH2_DashboardDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2b.vertex.local;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_ProductionDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2b.vertex.local;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_PMSSewingAPIurl" connectionString="http://192.168.202.71:16888/" />

    <!--ESP_Formal-->
    <add name="ESP_DashboardDataAccessLayer" connectionString="Data Source=SYSTEM2016BK.esprintavn.com;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_ProductionDataAccessLayer" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SYSTEM2016BK.esprintavn.com;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_PMSSewingAPIurl" connectionString="http://172.16.0.45:16888/" />

    <!--SPT_Formal-->
    <add name="SPT_DashboardDataAccessLayer" connectionString="Data Source=SPT-176.sprinta.com;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_ProductionDataAccessLayer" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SPT-176.sprinta.com;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_PMSSewingAPIurl" connectionString="http://192.168.2.239:16888/" />

    <!--SNP_Formal-->
    <add name="SNP_DashboardDataAccessLayer" connectionString="Data Source=SYSTEM2017BK.snp.local;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_ProductionDataAccessLayer" connectionString="Data Source=system2017.snp.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SYSTEM2017BK.snp.local;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_PMSSewingAPIurl" connectionString="http://172.21.0.44:16888/" />

    <!--SPR_Formal-->
    <add name="SPR_DashboardDataAccessLayer" connectionString="Data Source=SQLBK;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_ProductionDataAccessLayer" connectionString="Data Source=PMS-SXR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SQLBK;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_PMSSewingAPIurl" connectionString="http://192.168.1.5:16888/" />

    <!--SPS_Formal-->
    <add name="SPS_DashboardDataAccessLayer" connectionString="Data Source=SPS-SQL2.spscd.com;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_ProductionDataAccessLayer" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SPS-SQL2.spscd.com;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_PMSSewingAPIurl" connectionString="http://192.168.1.95:16888/" />

    <!--HZG_Formal-->
    <add name="HZG_DashboardDataAccessLayer" connectionString="Data Source=newerp-bak.hzg.com.cn;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_ProductionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=newerp-bak.hzg.com.cn;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_PMSSewingAPIurl" connectionString="http://172.18.1.34:16888/" />

    <!--NAI_Formal-->
    <add name="NAI_DashboardDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\NAI;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="NAI_ProductionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\NAI;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="NAI_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\NAI;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />

    <!--HXG_Formal-->
    <add name="HXG_DashboardDataAccessLayer" connectionString="Data Source=SQL.hxg.server;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_ProductionDataAccessLayer" connectionString="Data Source=Ndata.hxg.server;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SQL.hxg.server;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_PMSSewingAPIurl" connectionString="http://172.16.0.209:16888/" />

    <!--PH1_Dummy-->
    <add name="PH1_Dummy_DashboardDataAccessLayer" connectionString="Data Source=PHL-NEWPMS\MIS;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_Dummy_ProductionDataAccessLayer" connectionString="Data Source=PHL-NEWPMS\MIS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=PHL-NEWPMS-02.sportscity.local\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH1_Dummy_PMSSewingAPIurl" connectionString="http://172.28.48.10:16889/" />

    <!--PH2_Dummy-->
    <add name="PH2_Dummy_DashboardDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2\MIS;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_Dummy_ProductionDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2\MIS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=VT1-PH2-PMS2b.vertex.local\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="PH2_Dummy_PMSSewingAPIurl" connectionString="http://192.168.202.71:16889/" />

    <!--ESP_Dummy-->
    <add name="ESP_Dummy_DashboardDataAccessLayer" connectionString="Data Source=system2016.esprintavn.com\MIS;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_Dummy_ProductionDataAccessLayer" connectionString="Data Source=system2016.esprintavn.com\MIS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SYSTEM2016BK.esprintavn.com\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ESP_Dummy_PMSSewingAPIurl" connectionString="http://172.16.0.45:16889/" />

    <!--SPT_Dummy-->
    <add name="SPT_Dummy_DashboardDataAccessLayer" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_Dummy_ProductionDataAccessLayer" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SPT-176.sprinta.com\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPT_Dummy_PMSSewingAPIurl" connectionString="http://192.168.2.239:16889/" />

    <!--SNP_Dummy-->
    <add name="SNP_Dummy_DashboardDataAccessLayer" connectionString="Data Source=system2017.snp.local\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_Dummy_ProductionDataAccessLayer" connectionString="Data Source=system2017.snp.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SYSTEM2017BK\MIS;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SNP_Dummy_PMSSewingAPIurl" connectionString="http://172.21.0.44:16889/" />

    <!--SPR_Dummy-->
    <add name="SPR_Dummy_DashboardDataAccessLayer" connectionString="Data Source=PMS-SXR\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_Dummy_ProductionDataAccessLayer" connectionString="Data Source=PMS-SXR\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SQLBK\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPR_Dummy_PMSSewingAPIurl" connectionString="http://192.168.1.5:16889/" />

    <!--SPS_Dummy-->
    <add name="SPS_Dummy_DashboardDataAccessLayer" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_Dummy_ProductionDataAccessLayer" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=SPS-SQL2.spscd.com\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="SPS_Dummy_PMSSewingAPIurl" connectionString="http://192.168.1.95:16889/" />

    <!--HZG_Dummy-->
    <add name="HZG_Dummy_DashboardDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_Dummy_ProductionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=newerp-bak.hzg.com.cn\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HZG_Dummy_PMSSewingAPIurl" connectionString="http://172.18.1.34:16889/" />

    <!--NAI_Dummy
    <add name="NAI_Dummy_DashboardDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="NAI_Dummy_ProductionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="NAI_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    -->
    <!--HXG_Dummy-->
    <add name="HXG_Dummy_DashboardDataAccessLayer" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_Dummy_ProductionDataAccessLayer" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_Dummy_ManufacturingExecutionDataAccessLayer" connectionString="Data Source=sql.hxg.server\mis;Initial Catalog=ManufacturingExecution;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="HXG_Dummy_PMSSewingAPIurl" connectionString="http://172.16.0.209:16889/" />

    <!--Taipei MIS Testing-->

    <!--Dummy-->
    <!--<add name="DashboardDataAccessLayer" connectionString="Data Source=system2017.snp.local\mis;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ProductionDataAccessLayer" connectionString="Data Source=system2017.snp.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />-->
    <!--Dummy-->


    <!--Formal-->
    <!--<add name="DashboardDataAccessLayer" connectionString="Data Source=system2017.snp.local;Initial Catalog=Dashboard;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />
    <add name="ProductionDataAccessLayer" connectionString="Data Source=system2017.snp.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299;" providerName="System.Data.SqlClient" />-->
    <!--Formal-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Email-->
    <add key="SmtpServer" value="Mail.sportscity.com.tw" />
    <add key="SmtpPort" value="25" />
    <add key="mailAccount" value="foxpro" />
    <add key="mailPwd" value="orpxof" />

    <!--測試區-->
    <add key="WebPortalURL" value="https://localhost:44398/Home/Login" />
    <add key="WebPortalURL_HomePage" value="https://localhost:44398/Home/Login" />
    <!--正式區-->
    <!--
    <add key="WebPortalURL" value="http://internalportal.sportscity.com.tw/" />
    <add key="WebPortalURL_HomePage" value="http://internalportal.sportscity.com.tw/Home/Index" />
    -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
