Quality/ADOHelper/bin/
Quality/ADOHelper/obj/
Quality/BusinessLogicLayer/obj/
Quality/DatabaseObject/bin/
Quality/DatabaseObject/obj/
Quality/Library/obj/
Quality/ManufacturingExecutionDataAccessLayer/bin/
Quality/ManufacturingExecutionDataAccessLayer/obj/
Quality/ProductionDataAccessLayer/bin/
Quality/ProductionDataAccessLayer/obj/
Quality/Quality/obj/
Quality/ToolKit/obj/
Quality/ToolKit/bin/
Quality/Quality/bin/
Quality/Library/bin/
Quality/BusinessLogicLayer/bin/Debug/BusinessLogicLayer.pdb
Quality/BusinessLogicLayer/bin/
Quality/.vs/Quality/v16/Server/sqlite3/db.lock
Quality/.vs/Quality/v16/Server/sqlite3/storage.ide
Quality/.vs/Quality/v16/Server/sqlite3/storage.ide-shm
Quality/.vs/Quality/v16/Server/sqlite3/storage.ide-wal
Quality/.vs/Quality/
Quality/Quality/Quality.csproj.user
Quality/.vs/
Quality/BusinessLogicLayerTests/bin/
Quality/BusinessLogicLayerTests/obj/
Quality/packages/
Quality/BusinessLogicLayerTests/BusinessLogicLayerTests.csproj.user
Quality/QualityTests/bin/
Quality/QualityTests/obj/Debug/
/Quality/QualityTests/obj
/Quality/packages
Quality/Quality/Properties/PublishProfiles/FolderProfile.pubxml.user
