
<link href="~/Areas/FinalInspection/CSS/Inspection.css" rel="stylesheet" />
<style type="text/css">
</style>

<div class="main-content">
    <div style="display:flex;flex-wrap:nowrap; border-radius:16px; background:#ffffff; width:70vw;height:10vw;align-items:center; vertical-align:middle">
        <div><p class="TitleLabel">SP#</p></div>
        <div>
            <input type="text" style="width:50%; border-color:black;" />
        </div>
    </div>
</div>
