@*@model DatabaseObject.ViewModel.FinalInspection.Others

<table class="al-m" style="width: 80% ; align-items: center; ">

    <tr>
        <td ><label class="Font">Production Status</label></td>
        <td> @Html.DisplayFor(o => o.ProductionStatus, new { @class = "form-control center-block" })</td>
    </tr>

    <tr>

        <td class="ColumnStype"><label class="Font">Other Photo</label></td>
        <td>
            <img src="~/Image/Icon/Picture.png" width="30" height="30" />
        </td>
    </tr>

    <tr>
        <td class="ColumnStype" style="vertical-align:top;"><label class="Font">Remark</label></td>
        <td colspan="2">
            @Html.TextAreaFor(o => o.OthersRemark, new { @style = "width:calc(100% - 80px); border: 1px solid black;" })

        </td>
    </tr>

</table>*@