@model DatabaseObject.ViewModel.FinalInspection.QueryReport
<style type="text/css">
    .generalClass .checkboxlabel {
        font-size: 2vh;
        font-weight: 900;
    }
    .generalClass tr td {
        vertical-align: middle;
    }
</style>

<table class="generalClass" style="width: 48%;">

    @foreach (var item in Model.FinalInspection.GeneralList)
    {
        bool IsChecked = Model.FinalInspection.GeneralDic[item.GeneralColName];

        <tr>
            <td style="width:5%">
                @Html.CheckBox($@"FinalInspection.{item.GeneralColName}", IsChecked, new { @class = "checkboxInput", @disabled = "disabled", @ID = $@"FinalInspection_{item.GeneralColName}" })
            </td>
            <td>
                <div><label class="checkboxlabel">@item.ShowText</label></div>
            </td>
        </tr>
    }

    @if (Model.FinalInspection.InspectionStage == "Final")
    {
        <tr>
            <td>
                @Html.CheckBoxFor(o => o.FinalInspection.CheckFGPT, new { @disabled = "disabled", @class = "checkboxInput" })
            </td>
            <td>
                <div><label class="checkboxlabel">FGPT</label></div>
            </td>
        </tr>
    }
</table>