
@model DatabaseObject.ViewModel.FinalInspection.QueryReport

<style type="text/css">


    .Font {
        font-size: 1.5em;
        font-weight: 900;
    }

    .ColumnStype {
        text-align: right;
    }

    .TDStyle {
        height: 4em;
        padding: 1em

    }

    .ColunTD {
        width: 32%;
    }

    .ContentText {
        color: #0000ff
    }
</style>
<table class="al-m" style="width: 80% ;margin-top: 4vh;">
    <tr>
        <td class="ColumnStype ColunTD TDStyle"><label class="Font">Production Status</label></td>
        <td class="ContentText TDStyle"> @Html.DisplayFor(o => o.FinalInspection.ProductionStatus)</td>
    </tr>
    <tr>
        <td class="ColumnStype ColunTD TDStyle"><label class="Font">Other Photo</label></td>
        <td class="TDStyle">
            <img src="~/Image/Icon/Picture.png" style="cursor: pointer;" onclick="OpenOthersPicture()" width="30" height="30" />
        </td>
    </tr>
    <tr>
        <td class="ColumnStype ColunTD TDStyle" style="vertical-align:top;"><label class="Font">Remark</label></td>
        <td class="ContentText TDStyle">
            @Html.DisplayFor(o => o.FinalInspection.OthersRemark)

        </td>
    </tr>

</table>