@model DatabaseObject.ViewModel.FinalInspection.QueryReport
<style type="text/css">
    .CheckListClass .checkboxlabel {
        font-size: 1.5em;
    }

    .checkListClass tr td {
        vertical-align: middle;
    }

    .CheckListClass {
        width: 100%;
        font-size: 0.8em;
    }

        .CheckListClass table tr td {
            text-align: left;
        }

        .checkListClass input {
            height: 1.5vh;
        }
</style>

@{
    List<string> TypeList = Model.FinalInspection.CheckListList.Select(o => o.Type).Distinct().ToList();
}
<div class="CheckListClass margin-c" style="padding-left:10%">


    @foreach (var type in TypeList)
    {
        var datas = Model.FinalInspection.CheckListList.Where(o => o.Type == type).ToList();

        <div style="display:inline-block;width:40%">
            <table class="checkListClass">

                <tr>
                    <td colspan="2" style="font-size: 2em;font-weight:bold">@type</td>
                </tr>
                @foreach (var item in datas)
                {
                    bool IsChecked = Model.FinalInspection.CheckListListDic[item.CheckListColName];

                    <tr>
                        <td style="width:3vw">
                            @Html.CheckBox($@"FinalInspection.{item.CheckListColName}", IsChecked, new { @disabled = "disabled", @class = "checkboxInput", @ID = $@"FinalInspection_{item.CheckListColName}" })
                        </td>
                        <td>
                            <div><label class="checkboxlabel">@item.ItemName</label></div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>